{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<!-- SEARCH BAR -->
<div id="search-bar" style="height:10em; position: relative;">
  <div class="input-group" style="position: absolute; margin-top: 2em; padding: 2em;">
    <input type="text" class="form-control" placeholder="Co chcesz wypożyczyć?" aria-label="Search term" aria-describedby="basic-addon">
    <div class="input-group-append">
      <button class="btn btn-warning" type="button">Szukaj</button>
    </div>
  </div>
</div>
<!--/SEARCH BAR  -->

<!-- NAVIGATION BAR -->

<!-- /NAVIGATION BAR -->

<div class="border-warning border-top border-bottom" style="margin-left: 3em; margin-right: 3em; margin-bottom: 1em; margin-top: 1em; padding: 0.5em;"> Motoryzacja / Części samochodowe / Silniki </div>
<div class="row p-2">

  <div class="col-md-3 border-right">
    <strong>Motoryzacja</strong>
    <ul>
      <li>Kategoria 1</li>
      <li>Motoryzacja </li>
      <li>Dom i ogród </li>
      <li>Sprzęt budowlany </li>
      <li>Artykuły ślubne </li>
      <li>Kategoria </li>
      <li>Kategoria </li>
      <li>Kategoria </li>
    </ul>
  </div>

  <div class="col-md-8">
    {% for item in object_list %}

      <div>
      <img class="img-fluid"  src="{{ item.photo.url }}"> {{item.name}}
      </div>

    {% endfor %}
  </div>

  <div class="col-md-2">
  </div>
{% endblock main_content %}
