
{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<!-- SEARCH BAR -->
<div id="search-bar" style="height:10em; position: relative;">
  <div class="input-group" style="position: absolute; margin-top: 2em; padding: 2em;">
    <input type="text" class="form-control" placeholder="Co chcesz wypożyczyć?" aria-label="Search term" aria-describedby="basic-addon">
    <div class="input-group-append">
      <button class="btn btn-warning" type="button">Szukaj</button>
    </div>
  </div>
</div>
<!--/SEARCH BAR  -->


<div class="row p-2">
  <div class="col-md-3 border-right">
    <ul>
      <li>Kategoria 1</li>
      <li>Motoryzacja </li>
      <li>Dom i ogród </li>
      <li>Sprzęt budowlany </li>
      <li>Artykuły ślubne </li>
      <li>Kategoria </li>
      <li>Kategoria </li>
      <li>Kategoria </li>

    </ul>
  </div>
  <div class="col-md-9">
    <div class="card-columns mt-2" style="font-size: 0.8em;">
      {% for item in object_list %}
                <div class="card text-center border border-warning">
                  <span style="font-weight: bold;">{{ item.name }}</span>
                  <span class="badge badge-danger">Nowość</span>
                  <div class="card-body" style="padding:0px;">
                    <a href="#">
                      <div><img style="height:100px; width:120px;" class="img-fluid"  src="{{ item.photo.url }}"></div>
                    </a>
                  </div>
                  <div style="padding:0px; background-color:white; font-size: 0.96em;">
                    <ul class="list-unstyled text-left ml-1" style="font-size: 0.7em;">
                     <li>cena: <strong class="text-right">10zł/dzień</strong></li>
                     <li>minimalny okres:<strong class="text-right"> dni</strong></li><li><strong class="text-right">wypożyczaj ile chcesz</strong></li>
                     <li>kaucja: <strong> zł</strong><strong> brak</strong></li>
                    </ul>
                  </div>
                </div>
        {% endfor %}

    </div>
  </div>
</div>
{% endblock main_content %}
