@media (min-width: 1em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 6em;
        margin-right: 6em;
    }

    #logo {
        height: 3em;
        width: 12em;
    }


}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #logo {
        height: 4em;
        width: 16em;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }

    #logo {
      height: 4em;
      width: 16em;
    }

}
