{% extends 'base.html' %}

{% block item %}

<div class="container">



		<div class="card">

           ty jestes {{user.get_username}}
        <br><br>
           item nalezy do  {{ item.wlasciciel.get_username }}


		</div>

        <a class="btn btn-primary" href="#">Wypozycz wypozycz</a>

        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Update" />
        </form>

	</div>

{% endblock %}
