{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<style>


/* Styles for wrapping the search box */

.main {
    width: 90%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#wyszukiwarka{
     background: url("{{ STATIC_URL }}/myapp/tlo.jpg");
     }

</style>
{{ STATIC_URL }}
<!-- ABOUT US -->
<img id="aboutus" src='{% static "/myapp/tlo.jpg" %}' class="img-fluid" alt="Responsive image" style="opacity: 0.8;">
<!-- /ABOUT US -->

<!-- wyszukiwarka -->
<div class="main">

  <!-- Another variation with a button -->
  <div class="input-group" style="height: 30px; width: 500px;" id="wyszukiwarka">

    <input type="text" class="form-control" placeholder="Czego szukasz?">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

</div>
<!-- wyszukiwarka -->

<div class="row">


<div class="col-2 p-3" style="color: #3f007e;">
<ul>
  <li>Kategoria</li>
  <li>Kategoria</li>
  <li>Kategoria kategoria</li>
  <li>Kategoria kategoria</li>
  <li>Kategoria</li>
  <li>Kategoria kategoria</li>
  <li>Kategoria</li>
  <li>Kategoria</li>
  <li>Kategoria kategoria</li>
  <li>Kategoria kategoria</li>
  <li>Kategoria</li>
  <li>Kategoria kategoria</li>
</ul>
</div>

<div class="col-10">
<blockquote class="blockquote" style="font-size:1.5em; color: #3f007e;">Promowane:  </blockquote>
<div class="card-columns mt-2" style="font-size: 0.8em;">
	{% for item in Photograph_list %}
            <div class="card text-center border border-warning">
              <span style="font-weight: bold;">{{ item.nazwa }}</span>
{% if item.nowosc %}<span class="badge badge-danger">Nowość</span>{% endif %}
{% if item.promocja %}<span class="badge badge-success">Promocja</span>{% endif %}
{% if item.bez_kaucji %}<span class="badge badge-primary">Bez Kaucji</span>{% endif %}
              <div class="card-body" style="padding:0px;">
                <a href="#">
                  <div><img style="height:100px; width:120px;" class="img-fluid"  src="{{ item.photo.url }}"></div>
                </a>
              </div>
              <div style="padding:0px; background-color:white; font-size: 0.96em;">
                <ul class="list-unstyled text-left ml-1" style="font-size: 0.7em;">
                 <li>cena: <strong class="text-right">{{ item.cena }}zł/dzień</strong></li>
{% if item.minimalny_okres %}  <li>minimalny okres:<strong class="text-right"> {{ item.minimalny_okres }} dni</strong></li>{% else %}<li><strong class="text-right">wypożyczaj ile chcesz</strong></li> {% endif %}
                 <li>kaucja:{% if item.kaucja %} <strong>{{ item.kaucja }} zł</strong> {% else %}<strong> brak</strong>{% endif %}</li>
                </ul>
              </div>
            </div>
	{% endfor %}
</div>





<blockquote class="blockquote" style="font-size:1.5em; color: #3f007e; border-style: solid; border-width: 8px 0px 0px 0px;">Na te przedmioty musisz zaczekać: </blockquote>
<div class="card-columns mt-2" style="font-size: 0.8em;">
	{% for item in wypozyczone_list %}

            <div class="card text-center border border-warning">
              <span style="font-weight: bold;">{{ item.nazwa }}</span>
{% if item.nowosc %}<span class="badge badge-danger">Nowość</span>{% endif %}
{% if item.promocja %}<span class="badge badge-success">Promocja</span>{% endif %}
{% if item.bez_kaucji %}<span class="badge badge-primary">Bez Kaucji</span>{% endif %}
              <div class="card-body" style="padding:0px;">
                <a href="#">
                  <div><img style="height:100px; width:120px;" class="img-fluid"  src="{{ item.zdjecie.url }}"></div>
                </a>
              </div>
              <div style="padding:0px; background-color:white; font-size: 0.96em;">
                <ul class="list-unstyled">
                 <li><span style="font-weight: bold;">{{ item.cena }}zł</span>/dzień</li>
                 <li>minimalny okres: {{ item.minimalny_okres }} dni</li>
                 <li>wypożyczony do {{ item.data_oddania }}</li>
                </ul>
              </div>
            </div>
	{% endfor %}
</div>
</div>
</div>


{% endblock %}
