{% extends 'base.html' %}
{% block content %}




<div class='container'>
<div class="row text-center">

 <div class='col-lg-2'></div>
	
 <div class='col-lg-8 p-5'>	
		
		<div class="card border border-warning" style="min-width: 200px;">
		
			<span class="p-3" style="font-weight: bold;">{{ item.nazwa }}</span>
		
			<div class="card-body text-center">
				<img class="img-fluid" src="{{ item.zdjecie.url }}" >
			</div>
		
                         <div class="text-left p-3">
                             <h5 class="text-center mt-2">Opis:</h5> 
                            {{ item.opis }}
                         </div>


			{% if user.is_authenticated %}
		
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<h5>Wpisz datę wypożyczenia i datę oddania przedmiotu:</h5>
						{% include 'website/form_bootstrap.html' with form=form %}
						<button type="submit" class="btn btn-primary">Rezerwuj</button>
					</div>
					<div class="col-1"></div>
				</div>
			</form>
		
                        <span style="font-size: 0.7em;">Uwaga, wypożyczone rzeczy należy oddać przed zamknięciem lokalu określonego dnia</span>
		
		        			
				{% else %}
				<a href="{% url 'auth_login' %}" class="btn btn-primary btn-lg active" role="button"
				   aria-pressed="true">Zaloguj się aby zarezerwować
				</a>
			{% endif %}
	  	
		</div>
</div>

 <div class='col-lg-2'></div>	

</div>
</div>


{% endblock %}
