{% extends 'base.html' %}

{% block item %}


<style>

@media (min-width: 1em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 6em;
        margin-right: 6em;
    }

    #aboutus {
        display: none;
    }

    #logo {
        height: 3em;
        width: 12em;
    }


}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
        height: 4em;
        width: 16em;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }

    .card {
      padding-top: 15px;
    }
}

.breadcrumb {
    background-color: #FFC107;
}

a {
    color: black;
}
a:hover {
    color: white;
}
.card-columns a:hover {
    color: orange;
}
</style>

<h4 class="mt-3"><p>Cześć, {{ user.username }} </p></h4>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Edytuj informacje o sobie</a></li>
    <li class="breadcrumb-item"><a href="#">Ustawienia konta</a></li>
    <li class="breadcrumb-item"><a href="#">nie wiem coś tam sprawdź</a></li>

  </ol>
</nav>

		<h3 class="mt-3">{% if items %}Wypożyczone przedmioty: {% else %}Nie posiadasz żadnych wypożyczonych przedmiotów{% endif %}</h3>

	<div class="card-columns">
        {% for item in items %}

		<div class="card border border-warning text-center">
			<span class="font-weight:bold; p-4"><a href="#">{{ item.nazwa }} - {{ item.cena }} - {{ item.wlasciciel }}</a></span>
			<div class="card-body">
				<img class="img-fluid" src="{{ item.zdjecie.url }}" >
			</div>
			<div style="font-size: 0.8em;">
				Wypożyczasz przedmiot:
				<br/>	od: {{ item.data_wypozyczenia }}
                                <br/>   do: {{ item.data_oddania }}
				<br/>	do zapłaty: {{ item.do_zaplaty }} zł
			</div>
		</div>

	    {% endfor %}
	</div>

{% endblock %}
